<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title}} Weather</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>
<body>
<h1>{{ title}} Weather</h1>
<p>
    {{ status}} and {{ temp }} &deg; C
</p>
<p>
    Fells like {{ feels_like }} &deg; C
</p>
<form action="/weather">
    <label for="city"></label><input type="text" name="city" id="city" placeholder="Enter a city"/>
    <button type="submit">Submit</button>
</form>
</body>
</html>
